
<%= form_for(program,:url => @url) do |f| %>
  <% if program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% program.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label :name%>
      <%= f.text_field :name,  placeholder: 'Name', class: 'form-control', :required => true %>
  </div>

  <div  class="form-group" >
      <%= f.label :color%>
      <%= f.text_field :color,  placeholder: 'Color', class: 'form-control ', :required => true %>
  </div>

  <div class="form-group">
      <%= f.label :notes%>
      <%= f.text_area :notes,  placeholder: 'Notes', class: 'form-control' %>  <span class="add-on"><i style="background-color: rgb(255, 146, 180)"></i></span>
  </div>
  <div class="form-group">
      <%= f.check_box :is_paid %>
      <%= f.label "This is a paid program"%>
  </div>
  <div class="form-group">
      <%= f.check_box :approval %>
      <%= f.label "Events needs approval by client"%>
  </div>
  <div class="actions">
      <%= f.submit class: "btn btn-primary  btn-lg" %>
      <%= link_to 'Cancel', programs_path, class: "btn btn-default  btn-lg" %>
  </div>
<% end %>

<script language="JavaScript">
 $(document).ready(function () {
   $('#program_color').colorpicker();

   $('#program_color').colorpicker().on('changeColor', function(ev){
         $(this).css('color',ev.color.toHex());
   });



});
</script>