<%= form_for(user,:url => user_path(user, request.query_parameters)) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
      <div class="col-xs-6">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, placeholder: 'First name', class: 'form-control', :required => true %>
      </div>

      <div class="col-xs-6">
         <%= f.label :last_name %>
         <%= f.text_field :last_name, placeholder: 'Last name', class: 'form-control', :required => true %>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-6">
          <%= f.label :dob %>
          <%= f.text_field :dob, placeholder: 'Date of birth', class: 'form-control',  :required => true %>
       </div>
       <div class="col-xs-6">
          <label>Client ID</label>
          <%= f.text_field :client_id, placeholder: 'Client ID', class: 'form-control', :required => true %>
       </div>
  </div>
  <div class="row">
      <div class="col-xs-6">
         <%= f.label "Email (as username)" %>
         <%= f.text_field :email, placeholder: 'email', class: 'form-control', :required => true %>
      </div>
      <div class="col-xs-6">
         <%= f.label :password %>
         <%= f.password_field :password, autocomplete: "off", class: 'form-control',help: "Must be at least 6 characters long" %>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-6">
         <%= f.label :password_confirmation %>
         <%= f.password_field :password_confirmation, placeholder: :password_confirmation, class: 'form-control', :required => true %>
      </div>
      <div class="col-xs-6">
          <%= f.label :hourly_rate %>
          <%= f.number_field :hourly_rate,  class: 'form-control', :required => true %>
       </div>
    </div>
   <div class="form-group">
      <%= f.label :notes %>
     <%= f.text_area :notes, placeholder: 'Notes', class: 'form-control' %>
   </div>

   <div class="actions">
      <%= f.submit class: "btn btn-primary  btn-lg" %>
      <%= link_to 'Cancel', users_path, class: "btn btn-default  btn-lg" %>
   </div>
<% end %>

          <script language="JavaScript">
            $(document).ready(function () {
              $('#user_dob').datetimepicker({
                  format: 'YYYY-MM-DD',
                  extraFormats: [ 'YYYY-MM-DD' ]
              });
            });
          </script>