<h1>Clients</h1>

  <div class="row" style="margin-bottom: 10px;">
      <div class="col-md-6 col-sm-6 col-xs-6">
          <%= link_to 'New Client', new_user_path, class: "btn btn-primary  btn-sm" %>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6 text-right">
          <a href="#" class="btn btn-primary btn-sm" onclick="return false;" id="search_button"" data-status="<%=@button_search_data%>" >
          <%=@button_search_text %>
          </a>
      </div>
  </div>
  <div id ="search_panel" style="margin-bottom: 10px; <%=@display%> ">
      <div class="row" >
            <%= form_tag(users_path, method: 'get',) do  %>
            <div class="col-sm-3">
                <%= label_tag "First Name:"%>
                <%= text_field_tag "filter_first_name",@filter_first_name_val, class: 'input-sm form-control' %>
            </div>
            <div class="col-sm-3">
                <%= label_tag "Last Name:"%>
                <%= text_field_tag "filter_last_name",@filter_last_name_val, class: 'input-sm form-control' %>
            </div>
            <div class="col-sm-3">
                <%= label_tag "Notes:"%>
                <%= text_field_tag "filter_notes",@filter_notes_val, class: 'input-sm form-control' %>
            </div>
       </div>

       <div class="row">
             <div class="col-sm-3">
                <%= label_tag "Dob:"%>
                <%= text_field_tag "filter_dob",@filter_dob_val, class: 'input-sm form-control' %>
            </div>
            <div class="col-sm-3">
                <%= label_tag "Client ID:"%>
                <%= text_field_tag "filter_client_id",@filter_client_id_val, class: 'input-sm form-control' %>
            </div>
            <div class="col-sm-3">
                <%= label_tag "Rate:"%>
                <%= number_field_tag "filter_rate",@filter_rate_val, class: 'input-sm form-control' %>
            </div>

       </div>
       <div class="row" style="margin-top: 5px;">
            <div class="col-sm-2">
                <%= submit_tag "Search", class: "btn btn-primary  btn-sm" %>
           </div>

       </div>


     <%end%>
   </div>
   </div>
<table class="table table-striped table-bordered " id="data-table">
 <thead>
    <tr>
      <th class="counter text-center">#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Dob</th>
      <th>Client ID</th>
      <th>Rate</th>
      <th>Hours</th>
      <th>Notes</th>
      <th class="col-sm-1">Action</th>
    </tr>
  </thead>

  <tbody>
    <% i = 0 %>
    <% @users.each do |user| %>
      <% i += 1 %>
      <tr>
        <td class="text-right"><%=i%></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.dob %></td>
        <td><%= user.client_id %></td>
        <td class="text-right"><%= user.hourly_rate %></td>
        <td class="text-right"><%= user.hours %></td>
        <td><%= user.notes %></td>
        <td>

            <a href="#"  data-id="<%=user.id%>" class="client-activity" onclick="return false;">Activity</a>,
            <%= link_to 'Edit', edit_user_path(user,request.query_parameters) %>,
            <%= link_to 'Delete', user, method: :delete, data: { confirm: 'If this client has events, it will also be deleted. Are you sure you want to proceed?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @users , renderer: BootstrapPagination::Rails %>


<div class="modal fade" id="client_activity_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog">
      <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" >Client activity</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3"><label>Total hours:</label> <span id="total_hours_value">0</span></div>

                </div>
                <div id="calendar"></div>
                <div class="form-group text-right" style="margin-top: 10px;">
                    <%= submit_tag "Close", class: "btn btn-default  btn-lg ", id:"btn_close" %>
                    <input type="hidden" id="client_id" value="0">
                </div>

            </div>
       </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script language="JavaScript">

   var format_str='YYYY-MM-DD hh:mm a';
   var curr_client_id =0;
   var curr_id = 0;




   $(document).ready(function() {



     $('#client_activity_form').on('shown.bs.modal', function () {
       $("#calendar").fullCalendar('render');
       $('#calendar').fullCalendar('refetchEvents');
     });


     $(".client-activity").click(function() {
       $("#client_id").val($(this).data("id"));
         $("#total_hours_value").text('0.0')
         $("#client_activity_form").modal("show");
     });

     $("#btn_close").click(function() {
       $("#client_activity_form").modal("hide");
       curr_client_id = 0;
     });




       $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'l_listDay,l_listWeek,l_listMonth,l_ThreeMonts,l_listYeark'
            },
            views: {
                l_ThreeMonts: {
                    type: 'list',
                    duration: { months: 3 },
                    buttonText: '3 Month'
                },
                l_listDay:{
                    type:'list',
                    duration: {days: 1},
                    buttonText: 'Day'
                },
                l_listWeek:{
                  type:'list',
                  duration: {weeks: 1},
                  buttonText: 'Week'
                },
                l_listMonth:{
                  type:'list',
                  duration: {months: 1},
                  buttonText: 'Month'
                },
                l_listYeark:{
                  type:'list',
                  duration: {years: 1},
                  buttonText: 'Year'
                }

            },
            schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
            defaultView: 'l_listDay',
            defaultDate: '<%=DateTime.now.to_date%>',
            navLinks: true, // can click day/week names to navigate views
            selectable: true,
            eventAfterAllRender: function(){

                event =  $('#calendar').fullCalendar( 'clientEvents')
                if (event.length>0)
                {
                    $("#total_hours_value").text(event[0].total_hours);
                }
                else
                {
                    $("#total_hours_value").text('0.0');

                }

            },
            cache: false,
            selectHelper: true,
            eventLimit: true, // allow "more" link when too many events
            events: {
              url: '/events/',
              cache: true,
              data: function() { // a function that returns an object
                return {
                  client_id: $("#client_id").val()
                };
              }
            }
        }).on('click', '.fc-button', function() {
           $("#calendar").fullCalendar('refetchEvents');
       });


      });
</script>
<script language="JavaScript">
 $(document).ready(function () {

     $('#data-table').DataTable({
       "paging": false,
       "searching": false,
       "info": false,
       "stateSave": true
     });

     $("#search_button").click(function(){
         if ($(this).data('status')=="open"){
             $(this).data('status',"close");
             $(this).text('Show search')
             $("#search_panel").hide();
         }
         else {
             $(this).data('status',"open");
             $(this).text('Hide Search')
             $("#search_panel").show();

         }

     });
});
</script>
 <script language="JavaScript">
            $(document).ready(function () {
              $('#filter_dob').datetimepicker({
                  format: 'YYYY-MM-DD',
                  extraFormats: [ 'YYYY-MM-DD' ]
              });
            });
</script>