<div class="row">
    <div class="col-md-2 col-sm-6 col-xs-6"><h1>Events</h1></div>
    <div class="col-md-10 col-sm-6 col-xs-6" ><%= submit_tag "Create Event", class: "btn btn-primary  btn-іь", id:"btn_top_create",style: "margin-top:25px;" %></div>
</div>
<div class="row">


    <div class="col-md-12">
        <div id="calendar"></div>
    </div>
</div><!--/row-->


<!-- Modal -->
<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" id="modal_header"></h3>
            </div>
            <div class="modal-body">
                <%= render 'form', event: @event%>
                <%= submit_tag "Create Event", class: "btn btn-primary  btn-lg", id:"btn_create" %>
                <%= submit_tag "Update Event", class: "btn btn-primary  btn-lg", id:"btn_update" %>
                <%= submit_tag "Cancel", class: "btn btn-default  btn-lg", id:"btn_close" %>

            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- Modal -->
<div class="modal fade" id="select_action" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog">
      <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" >Select the action</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                Select the action:
                    <%= button_tag "Edit", class: "btn btn-primary  btn-sm", id:"event_update_action" %>
                    <%= button_tag "Delete", class: "btn btn-primary  btn-sm", id:"event_delete_action" %>
                    <%= button_tag "Repeat", class: "btn btn-primary  btn-sm", id:"event_repeat_action" %>
                </div>
                <div class="form-group text-right">
                    <%= submit_tag "Cancel", class: "btn btn-default  btn-lg ", id:"btn_close_action" %>
                </div>
            </div>
       </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal -->
<div class="modal fade" id="repeat_action" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="true">
  <div class="modal-dialog">
      <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title" >Repeat the action</h3>
            </div>
            <div class="modal-body">
                <form id="repeat_action_form">
                    <%= render 'repeat_form'%>
                </form>
                <div class="form-group">
                    <%= submit_tag "Repeat Event", class: "btn btn-primary  btn-lg", id:"btn_repeat" %>
                    <%= submit_tag "Cancel", class: "btn btn-default  btn-lg ", id:"btn_close_action_repeat" %>
                </div>
            </div>
       </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script language="JavaScript">

    var format_str='YYYY-MM-DD hh:mm a';
    var curr_event_id =0;
    var curr_event_obj;



    $(document).ready(function() {


        $('#event_launch_break').keypress(function(event) {
            if (!event.charCode) return true;
            ch = String.fromCharCode(event.charCode);
            return (/[\d]/.test(ch));
        });


        $('#event_start').datetimepicker({
            format: format_str,
            extraFormats: [ format_str ],
            sideBySide: true
        });

        $('#event_end').datetimepicker({
            format: format_str,
            extraFormats: [ format_str ],
            sideBySide: true
        });

        $('#repeat_end').datetimepicker({
            format: 'YYYY-MM-DD',
            extraFormats: [ 'YYYY-MM-DD']
        });


        function SetForm(event)
        {
            $("#event_start").val(moment(event.start).format(format_str));
            $("#event_end").val(moment(event.end).format(format_str));
            $("#event_title").val(event.title);
            $("#meetingtype_id").val(event.meetingtype_id);
            $("#client_id").val(event.client_id);
            $("#program_id").val(event.program_id);
            $("#event_address").val(event.address);
            $("#event_transport").val(event.transport);
            $("#event_notes").val(event.notes);
            $("#event_launch_break").val(event.launch_break)
            $("#modal_header").text("Edit event");
            $("#btn_update").show();
            $("#btn_create").hide();
        }

        function CheckForm()
        {
            if ($("#event_title").val()==""){
                alert ('Field Name is empty!');
                return false;
            }
            if ($("#meetingtype_id").val()==""){
                alert ('Field Meeting type is empty!');
                return false;
            }
            if ($("#client_id").val()==""){
                alert ('Field Client is empty!');
                return false;
            }
            if ($("#program_id").val()==""){
                alert ('Field Program is empty!');
                return false;
            }
            if ($("#event_start").val()==""){
                alert ('Field Start date is empty!');
                return false;
            }
            if ($("#event_end").val()==""){
                alert ('Field End date is empty!');
                return false;
            }

            return true;

        }



        function close_modal()
        {
            $('#dialog').modal("hide");
            $('#calendar').fullCalendar('unselect');
            $("#new_event")[0].reset();
        }

        $('#btn_top_create').click(function(){
            $("#new_event")[0].reset();
            $("#modal_header").text("New event");
            $("#btn_update").hide();
            $("#btn_create").show();
            $('#dialog').modal("show");

        });


        $('#btn_close').click(function(){
            close_modal();
        });

        $('#btn_close_action').click(function(){
            $("#select_action").modal("hide");
        });

        $('#btn_close_action_repeat').click(function(){
            $("#repeat_action").modal("hide");
        });

        $("#event_repeat_action").click(function() {
            $("#repeat_action_form")[0].reset();
            $('#select_action').modal("hide");
            $('#repeat_action').modal("show");
        });
        $("#btn_repeat").click(function() {

            event =curr_event_obj;
            var strconfirm = confirm("Are you sure?");
            if (strconfirm == true) {
                jQuery.ajax({
                    type: 'POST',
                    url: '/eventsrepeat',
                    dataType: 'json',
                    contentType: 'application/json',
                    longPressDelay:200,
                    data: JSON.stringify({
                        event:
                        {
                            title: event.title,
                            start: moment(event.start).format(format_str),
                            end: moment(event.end).format(format_str),
                            meetingtype_id: event.meetingtype_id,
                            client_id: event.client_id,
                            program_id: event.program_id,
                            address: event.address,
                            transport: event.transport,
                            notes: event.notes,
                            launch_break: event.launch_break,
                            repeat_period: $("#repeat_period").val(),
                            repeat_quantity: $("#repeat_quantity").val(),
                            repeat_end: $("#repeat_end").val(),
                            id: event.id

                        }
                    }),
                    success: function (json) {
                        alert("Event succefully repeated!");
                        $('#repeat_action').modal("hide");
                        $('#calendar').fullCalendar('refetchEvents' );

                    },
                    error: function (answer){
                        alert(answer.responseJSON.errors);
                        //revertFunc();
                    }
                });


            }
        });


        $("#event_update_action").click(function(){
            $("#modal_header").text("Edit event");
            $("#btn_update").show();
            $("#btn_create").hide();
            SetForm(curr_event_obj);

            $('#select_action').modal("hide");
            $('#dialog').modal("show");
        });

        $("#event_update_action").click(function(){
            $("#modal_header").text("Edit event");
            $("#btn_update").show();
            $("#btn_create").hide();
            SetForm(curr_event_obj);

            $('#select_action').modal("hide");
            $('#dialog').modal("show");
        });

        $("#event_delete_action").click(function() {

            var strconfirm = confirm("Are you sure?");
            if (strconfirm == true) {
                event =curr_event_obj;
                jQuery.ajax({
                    type: 'DELETE',
                    url: '/events/'+curr_event_id,
                    dataType: 'json',
                    contentType: 'application/json',
                    longPressDelay:200,
                    data: JSON.stringify({
                        event: {
                            start: moment(event.start).format(format_str),
                            end: moment(event.end).format(format_str),
                            client_id: event.client_id
                        }
                    }),
                    success: function (json) {
                        $('#select_action').modal("hide");
                        $('#calendar').fullCalendar('refetchEvents' );

                    },
                    error: function (answer){
                        alert(answer.responseJSON.errors);
                        //revertFunc();
                    }
                });


            }
        });
        $('#btn_update').click(function(){
            if (!CheckForm()) return;
            jQuery.ajax({
                type: 'PATCH',
                url: '/events/'+curr_event_id+'#update',
                dataType: 'json',
                contentType: 'application/json',
                longPressDelay:200,
                data: JSON.stringify({
                    event:
                    {
                        title: $("#event_title").val(),
                        start: $("#event_start").val(),
                        end: $("#event_end").val(),
                        meetingtype_id:$("#meetingtype_id").val(),
                        client_id: $("#client_id").val(),
                        program_id: $("#program_id").val(),
                        address: $("#event_address").val(),
                        transport: $("#event_transport").val(),
                        notes: $("#event_notes").val(),
                        launch_break: $("#event_launch_break").val()
                    }
                }),

                success: function (json) {
                    $('#calendar').fullCalendar( 'refetchEvents' );
                    close_modal();
                },
                error: function (answer){
                    alert(answer.responseJSON.errors);
                }
            });
        });


        $('#btn_create').click(function(){

           if (!CheckForm()) return;
            jQuery.ajax({
                type: 'POST',
                url: '/events#create',
                dataType: 'json',
                contentType: 'application/json',
                longPressDelay:200,
                data: JSON.stringify({
                    event:
                        {
                            title: $("#event_title").val(),
                            start: $("#event_start").val(),
                            end: $("#event_end").val(),
                            meetingtype_id:$("#meetingtype_id").val(),
                            client_id: $("#client_id").val(),
                            program_id: $("#program_id").val(),
                            address: $("#event_address").val(),
                            transport: $("#event_transport").val(),
                            notes: $("#event_notes").val(),
                            launch_break: $("#event_launch_break").val()

                        }
                }),

                success: function (json) {
                    eventData = {
                        title: $("#event_title").val(),
                        start: $("#event_start").val(),
                        end: $("#event_end").val()
                    };
                    //$('#calendar').fullCalendar('renderEvent', eventData, true);
                    $('#calendar').fullCalendar( 'refetchEvents' );
                    close_modal();
                },
                error: function (answer){
                    alert(answer.responseJSON.errors);
                }
            });
        });




        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'timeDay,timeWeek,month,timelineThreeMonts,timelineYear'
            },
            views: {
                timelineThreeMonts: {
                    type: 'timeline',
                    duration: { months: 3 },
                    //titleFormat: 'dddd, d MMM, yyyy'

                },
                timeDay: {
                    type: 'agenda',
                    duration: { days: 1 },
                    titleFormat: 'DD MMMM, YYYY'
                },
                timeWeek: {
                    type: 'agenda',
                    duration: { weeks: 1 },
                    titleFormat: "DD MMM, YYYY"
                },

            },
            schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source',
            defaultView: 'timeWeek',
            defaultDate: '<%=DateTime.now.to_date%>',
            navLinks: true, // can click day/week names to navigate views
            selectable: true,
            firstDay:1,
            columnFormat:'ddd DD/MM',
            selectHelper: true,
            select: function(start, end) {
                $("#new_event")[0].reset();
                $("#event_start").val(moment(start).format(format_str));
                $("#event_end").val(moment(end).format(format_str));
                $("#modal_header").text("New event");
                $("#btn_update").hide();
                $("#btn_create").show();
                $('#dialog').modal("show");
            },
            eventClick: function(event, jsEvent, view) {
                curr_event_id = event.id;
                curr_event_obj =event;
                $('#select_action').modal("show");
                //$('#dialog').modal("show");
                //$(this).css('border-color', 'red');

            },
            eventResize: function(event, delta, revertFunc) {
                curr_event_id = event.id;
                jQuery.ajax({
                    type: 'PATCH',
                    url: '/events/'+curr_event_id+'#update',
                    dataType: 'json',
                    contentType: 'application/json',
                    longPressDelay:200,
                    data: JSON.stringify({
                        event:
                        {
                            start: moment(event.start).format(format_str),
                            end: moment(event.end).format(format_str),
                            client_id: event.client_id
                        }
                    }),

                    success: function (json) {
                        $('#calendar').fullCalendar( 'refetchEvents' );

                    },
                    error: function (answer){
                        alert(answer.responseJSON.errors);
                        revertFunc();
                    }
                });


            },
            eventDrop: function(event, delta, revertFunc) {
                curr_event_id = event.id;
                jQuery.ajax({
                    type: 'PATCH',
                    url: '/events/'+curr_event_id+'#update',
                    dataType: 'json',
                    contentType: 'application/json',
                    longPressDelay:200,
                    data: JSON.stringify({
                        event:
                        {
                            start: moment(event.start).format(format_str),
                            end: moment(event.end).format(format_str),
                            client_id: event.client_id
                        }
                    }),

                    success: function (json) {
                        $('#calendar').fullCalendar( 'refetchEvents' );

                    },
                    error: function (answer){
                        //console.log(answer);
                        alert(answer.responseJSON.errors);
                        revertFunc();
                    }
                });
            },
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            events: {url: '/events/'}
        });

    });


</script>